<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103408610174-naquocnitu921820s2l3g11rfph96gir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103408610174-naquocnitu921820s2l3g11rfph96gir</string>
	<key>API_KEY</key>
	<string>AIzaSyCVJ8bnZ9Fm3yr6dVZ37zgYocn2Vtmik24</string>
	<key>GCM_SENDER_ID</key>
	<string>103408610174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contacts</string>
	<key>PROJECT_ID</key>
	<string>contacts-1536</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-1536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103408610174:ios:5e2a94abab967d04e5212f</string>
</dict>
</plist>